
@model JoesPizza.Models.Pizza

@{
    ViewData["Title"] = "Details";
}

<h1>Order Summary</h1>

<div>
    <h4>Pizza</h4>
    <hr />

    <div class="card mb-3" >
        <div class="row g-0">
            <div class="col-md-4">
     
                <img src="data:image;base64,@Convert.ToBase64String(Model.Image)" class="img-fluid rounded-start w-100 h-100" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title"> @Html.DisplayFor(model => model.ItemName)</h5>
                    <p class="card-text"> @Html.DisplayFor(model => model.Description)</p>
                   
                    <span class="btn btn-success">Rs <span id="price">@Html.DisplayFor(model => model.Price)</span> /-</span>
                    <a asp-action="Placeorder" asp-controller="Pizzas" asp-route-id="@Model.ItemId" class="btn btn-warning placeorder">Place Order</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ItemId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>


